<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/translate"
        android:label="@string/app_name"
        android:roundIcon="@drawable/translate"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishDictionary"
        tools:targetApi="31">
        <activity
            android:name=".ui.ParaphraseActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"/>
        <activity
            android:name=".ui.TranslateActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"/>
        <activity android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EnglishDictionary.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HistoryTestActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.HistoryActivity"
            android:parentActivityName=".ui.HistoryTestActivity"
            android:theme="@style/Theme.EnglishDictionary.NoActionBar" />
        <activity
            android:name=".ui.GrammarListActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.GrammarActivity"
            android:parentActivityName=".ui.GrammarListActivity" />
        <activity
            android:name=".ui.QuestionActivity"
            android:theme="@style/Theme.EnglishDictionary.NoActionBar" />
        <activity
            android:name=".ui.SearchActivity"
            android:parentActivityName=".ui.SearchDictionaryAtivity"
            />
        <activity
            android:name=".ui.SearchDictionaryAtivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.SettingActivity"
            android:parentActivityName=".ui.MainActivity" />
    </application>

</manifest>